{% extends "layout.html" %}

{% block css %}
{% endblock %}

{% block javascript %}
    // datePicker
    $(function() {
        $('#datepicker').datepicker();
    });

    // Chart 
    var ctx = document.getElementById("temperatureChart").getContext('2d');
    ctx.canvas.height = 400;
    ctx.canvas.width = 750;
    var timeLabel = {{renderData.time}};
    var temperatureData = {{renderData.temperature}};
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: timeLabel,
            datasets: [{
                label: '# 気温',
                data: temperatureData,
                backgroundColor: 'skyblue'
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
            elements: {
                line: {
                    tension: 0, // ベジェ曲線を無効にする
                }
            }
        }
    });

    // submit
    function submitDate(){
        // 画面を更新
        var url = "https://ihn1zzsjzk.execute-api.us-east-2.amazonaws.com/default/RoomStatus_Temperature?date="
        date = document.getElementById('datepicker').value;
        location.replace(url+date);
    }
{% endblock %}

{% block main %}
<input type="text" id="datepicker" value={{dispDate}}>
<button type="button" onclick="submitDate();">更新</button>
{# <div class="chart-container" style="position: relative; height:80%; width:80%"> #}
    <canvas id="temperatureChart"></canvas>
{# </div> #}
{% endblock %}