{% extends "layout.html" %}

{% block css %}
{% endblock %}

{% block javascript %}
    $(function() {
        $('#datepicker').datepicker();
    });

    var ctx = document.getElementById("temperatureChart").getContext('2d');
    var timeLabel = {{time}};
    var temperatureData = {{temperature}};
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: timeLabel,
            datasets: [{
                label: '# 気温',
                data: temperatureData,
            }]
        },
        options: {
            elements: {
                line: {
                    tension: 0, // ベジェ曲線を無効にする
                }
            }
        }
    });
{% endblock %}

{% block main %}
<input type="text" id="datepicker">
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="temperatureChart"></canvas>
</div>
{% endblock %}